<a href="https://colab.research.google.com/github/monoskim/Music-Reccomender/blob/main/Decision_Tree_Music_Reccomender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [4]:
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [5]:
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [10]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X,y)
predicitions = model.predict([[21,1],[22,0]])
predicitions

array(['HipHop', 'Dance'], dtype=object)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model.fit(X_train, y_train)
predicitions = model.predict(X_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, predicitions)
score

1.0

In [15]:
# Model Persistence (Saving Model and running it against data)
import joblib
joblib.dump(model, 'music-reccomender.joblib')

['music-reccomender.joblib']

In [16]:
joblib.load('music-reccomender.joblib')
predicitions = model.predict([[21,1],[22,0]])
predicitions

array(['HipHop', 'Dance'], dtype=object)

In [17]:
#export file to visually view the decision tree in VS Code
from sklearn import tree
tree.export_graphviz(model, out_file='music-reccomender.dot',
                     feature_names=['age', 'gender'],
                     class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)